# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: update ubuntu
        run: |
         sudo apt-get update
         sudo apt-get -y upgrade

      - name: add the i386 architecture
        run: |
         sudo dpkg --add-architecture i386
         sudo apt-get update
         sudo apt-get -y dist-upgrade

      - name: install dependencies
        run: |
         export APT="sudo apt-get -y install"
         export arch=i386
         $APT git-core gnupg flex bison gperf build-essential crossbuild-essential-i386
         $APT zip curl zlib1g-dev gcc-multilib g++-multilib gcc-multilib-i686-linux-gnu
         $APT g++-multilib-i686-linux-gnu x11proto-core-dev libx11-dev ccache file 
         $APT xsltproc unzip apt-utils python2 python3 libxml2-utils libgl1-mesa-dev
         $APT libc6:$arch libncurses5:$arch libstdc++6:$arch libz1:$arch
         sudo apt-get -y autoclean

      - name: Run ndk-crystax-r10-build.sh
        run: ./ndk-crystax-r10-build.sh
